@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Changa+One:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffe3;
  color: #723480;
  font-family: "Caveat", cursive;
  font-size: 25px;
  font-weight: 900;
  font-style: normal;
}
#home {
  background-color: rgba(127, 255, 212, 0.85);
  padding: 10px;
  margin: 0;
  border: solid #c1bfff;
  border-width: 0px 2px 4px 2px;
  box-shadow: #c1bfff84 4px 4px 8px;
}

header {
  color: #000000;
  padding: 0;
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
  padding: 0;
  border-radius: 12px;
}

nav ul li a {
  color: #000000;
  font-weight: 400;
  font-size: larger;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background 0.3s ease;
}
#login {
  font-weight: 900;
  background-color: azure;
  border: 1.5px solid #c1bfff;
  box-shadow: #c1bfff84 2px 2px 4px, inset #c1bfff84 -2px -2px 4px,
    inset #ffffff 2px 2px 4px;
}

#login:hover {
  transform: scale(1.1);
  font-size: 27px;
  transition: transform 0.3s ease;
}

.logo1 {
  position: absolute;
  top: 10px;
  right: 10px;
}

.logo1 h1 {
  font-size: 40px;
  position: relative;
  right: 89vw;
  top: -3px;
  font-family: "Jacquarda Bastarda 9", serif;
}
li a img {
  position: relative;
  top: 4px;
  width: 35px;
  height: 35px;
}
#settings:hover {
  transform: rotate(180deg) scale(1.1);
  transition: transform 0.3s ease;
}
.hero-content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-content {
  background-color: azure;
  border: #c1bfff solid 3px;
  border-radius: 15px;
  width: 72%;
  text-align: center;
  margin-top: 50px;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  color: #bdb96a;
  font-style: normal;
  position: relative;
  animation: upDown 10s ease-in-out infinite;
  box-shadow: #c1bfff 4px 4px 8px;
  padding: 5px;
  margin-bottom: 70px;
}
.hero-content h1 {
  -webkit-text-stroke: #060606 0.6px;
}
.hero-content p {
  color: #3b3b3b;
  -webkit-text-stroke: #ffffff 0.6px;
}
@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  } /* move up by 20px */
  100% {
    transform: translateY(0);
  } /* back to start */
}

.tools {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}
.tools .tool {
  background-color: rgba(240, 255, 255, 0.626);
  border: 2px solid #c1bfff;
  border-radius: 30px;
  margin: 15px;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  box-shadow: #c1bfff84 4px 4px 8px, inset #c1bfff84 -4px -4px 8px,
    inset #ffffff 4px 4px 8px, #ffffff -4px -4px 8px;
}
.tools .tool:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.tool h2 {
  color: #a3a0fde5;
  -webkit-text-stroke: #06060675 0.7px;
  font-family: "Changa One", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.tool p {
  color: #4d4d4d;
  -webkit-text-stroke: #ffffff 0.6px;
  font-family: "Cause", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
