@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
  font-weight: 999;
  font-style: normal;
}

body {
  background-image: url('bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-bottom: -150px;
  font-family: cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  position: relative;
  top: -220px;
  font-size: 80px;
  color: #ffffffee;
  -webkit-text-stroke: #4a4a4ada 1.5px;
  animation: upDown 6s ease-in-out infinite;
}

.clock {
  display: flex;
  gap: 20px;
}

.flip-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flip-card {
  background: rgba(240, 255, 255, 0.511);
  color: rgb(255, 255, 255);
  border: #88888860 solid 2px;
  -webkit-text-stroke: #191a1aa8 1.5px;
  width: 120px;
  height: 160px;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  transition: transform 0.5s ease-in-out;
  perspective: 1000px;
}

.flip-card.flip {
  animation: flip 0.5s ease-in-out;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

span {
  color: #000000;
  margin-top: 10px;
  font-size: 1.1rem;
  -webkit-text-stroke: #5e5d5dba 0.4px;
}

.ampm .flip-card {
  font-size: 2rem;
  height: 80px;
  width: 80px;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  } /* move up by 20px */
  100% {
    transform: translateY(0);
  } /* back to start */
}
