@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
  font-weight: 999;
  font-style: normal;
}

body {
  background-color: #000;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  display: flex;
  gap: 20px;
}

.flip-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flip-card {
  background: #111;
  color: rgb(255, 255, 255);
  width: 120px;
  height: 160px;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: inset 0 -4px 8px rgba(0,0,0,0.6), 0 8px 20px rgba(0,0,0,0.5);
  transition: transform 0.5s ease-in-out;
  perspective: 1000px;
}

.flip-card.flip {
  animation: flip 0.5s ease-in-out;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

span {
  color: #888;
  margin-top: 10px;
  font-size: 1rem;
}

.ampm .flip-card {
  font-size: 2rem;
  height: 80px;
  width: 80px;
}
