body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  background: #f4f4f4;
  padding: 50px;
}

.container {
  background: white;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  padding: 30px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  gap: 10px;
}

#task-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

#add-btn {
  background: #28a745;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
}

#task-list {
  padding: 0;
  list-style: none;
  margin-top: 20px;
}
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eee;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}

li.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

button.delete-btn {
  background: #dc3545;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
