@import url("https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Changa+One:ital@0;1&display=swap");

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  background: linear-gradient(135deg, #fee6f0 25%, transparent 25%) -50px 0,
                linear-gradient(225deg, #fee6f0 25%, transparent 25%) -50px 0,
                linear-gradient(315deg, #fee6f0 25%, transparent 25%),
                linear-gradient(45deg, #fee6f0 25%, transparent 25%);
                background-size: 100px 100px ;
  padding: 50px;
}

.container {
  background: azure;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  padding: 30px;
  box-shadow: #c1bfff56 4px 4px 8px, inset #c1bfff58 -4px -4px 8px,
    inset #ffffff 4px 4px 8px, #ffffff -4px -4px 8px;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Changa One", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
}

.input-section {
  display: flex;
  gap: 10px;
}

#task-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

#add-btn {
  background: #28a745;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
}

#task-list {
  padding: 0;
  list-style: none;
  margin-top: 20px;
}
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eee;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}

li.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

button.delete-btn {
  background: #dc3545;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
